// Required
@import "./bootstrap-5.2.1/scss/functions";

// Default variable overrides : ici nous allons écraser la valeur par défaut de variables Bootstrap

/**
Votre code scss
*/

// Required
@import "./bootstrap-5.2.1/scss/variables";

// Variable value using existing variable : ici nous allons modifier la valeur de variables Bootstrap à l'aide de variables qui existent déjà, nous allons aussi définir nos propres variables Sass

/**
Votre code scss
*/

// Body styles
$body-bg: $primary;
$body-color: $gray-300;
// Basic typography styles
$font-family-base: 'Roboto', sans-serif;
$font-size-base: 1.8rem;
$line-height-base: 1.3;
$line-height-sm: 1;
// Link styles
$link-color: $warning;
$link-decoration: none;
$link-hover-color: shift-color($link-color,
        $link-shade-percentage);
$link-hover-decoration: underline;
// Heading styles
$h1-font-size: $font-size-base * .5;
$h2-font-size: $font-size-base * 3;
$h3-font-size: $font-size-base * 2.5;
$h4-font-size: $font-size-base * 2;
$h5-font-size: $font-size-base * 1.5;
$h6-font-size: $font-size-base;
$headings-font-weight: $font-weight-bold;
$headings-line-height: $line-height-sm;
$headings-margin-bottom: $spacer;
// Display styles
$display-font-sizes: (
    1: $h1-font-size * 1.5,
    2: $h2-font-size * 1.5,
    3: $h3-font-size * 1.5,
    4: $h4-font-size * 1.5,
    5: $h5-font-size * 1.5,
    6: $h6-font-size * 1.5
);
$display-font-weight: $font-weight-light;
$display-line-height: $headings-line-height;
// Lead styles
$lead-font-size: $font-size-base * 1.25;
$lead-font-weight: $font-weight-light;

// Required: vous devez importer ces fichiers, ils font partie du core de Bootstrap
@import "./bootstrap-5.2.1/scss/maps";
@import "./bootstrap-5.2.1/scss/mixins";
@import "./bootstrap-5.2.1/scss/root";


// Optional Bootstrap CSS: ici nous importants en fonction de nos besoins les sources pour différents composants
// @import "./bootstrap-5.2.1/scss/reboot";
// @import "./bootstrap-5.2.1/scss/type";
// @import "./bootstrap-5.2.1/scss/images";
// @import "./bootstrap-5.2.1/scss/containers";
// @import "./bootstrap-5.2.1/scss/grid";
// @import "./bootstrap-5.2.1/scss/tables";
// @import "./bootstrap-5.2.1/scss/forms";
// @import "./bootstrap-5.2.1/scss/buttons";
// @import "./bootstrap-5.2.1/scss/transitions";
// @import "./bootstrap-5.2.1/scss/dropdown";
// @import "./bootstrap-5.2.1/scss/button-group";
// @import "./bootstrap-5.2.1/scss/nav";
// @import "./bootstrap-5.2.1/scss/navbar";
// @import "./bootstrap-5.2.1/scss/card";
// @import "./bootstrap-5.2.1/scss/accordion";
// @import "./bootstrap-5.2.1/scss/breadcrumb";
// @import "./bootstrap-5.2.1/scss/pagination";
// @import "./bootstrap-5.2.1/scss/badge";
// @import "./bootstrap-5.2.1/scss/alert";
// @import "./bootstrap-5.2.1/scss/progress";
// @import "./bootstrap-5.2.1/scss/list-group";
// @import "./bootstrap-5.2.1/scss/close";
// @import "./bootstrap-5.2.1/scss/toasts";
// @import "./bootstrap-5.2.1/scss/modal";
// @import "./bootstrap-5.2.1/scss/tooltip";
// @import "./bootstrap-5.2.1/scss/popover";
// @import "./bootstrap-5.2.1/scss/carousel";
// @import "./bootstrap-5.2.1/scss/spinners";
// @import "./bootstrap-5.2.1/scss/offcanvas";
// @import "./bootstrap-5.2.1/scss/placeholders";

// Helpers
@import "./bootstrap-5.2.1/scss/helpers";
// Utilities
@import "./bootstrap-5.2.1/scss/utilities";
// Utilities API
@import "./bootstrap-5.2.1/scss/utilities/api";